@import "../custom-colors";
@import "../custom-typography";
@import "../custom-buttons";
@import "../custom-font-faces";


@mixin btn-animation() {
  transform: translateX(-100%);
}

.btn-animated {
  position: relative;
  overflow: hidden;
  padding: 0;

  .btn-revealer, .btn-cover {
    width: 100%; padding: 10px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }

  &:hover {
    .btn-cover, .btn-revealer {
      @include btn-animation();
    }
  }
}

@mixin button-bg-hover($color) {
  &:hover {
    background: darken($color, 5%);
  }
}

.btn {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;

  &:active {
    background: #0075ab !important;
  }

  &:hover {
    background: #33a8de;
  }

  &.btn-secondary {
    background: white;
    border: 1px solid $light-gray;
    color: $semi-gray;
    @extend .semi-bold;
    @include button-bg-hover(white);
  }

  &.btn-modal {
    background: $blue-sea;
    color: white;
    @include button-bg-hover($blue-sea);
  }
}
