@import "../custom-colors";
@import "../custom-typography";

.checkbox input[type="checkbox"],  .checkbox-inline input[type="checkbox"] {
  opacity: 0;
  visibility: visible;
}

@mixin custom-checkbox-position() {
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox, .checkbox-inline {



  span {
    width: 20px;
    height: 20px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    display: inline-block;
    @include custom-checkbox-position();
  }

  input[type="checkbox"]:checked + span:before {
    font-family: "Glyphicons Halflings";
    content: "\e013";
    padding: 3px 4px;
    color: white;
    font-size: 10px;
    display: block;
  }

  input[type="checkbox"]:checked + span {
    background: $brand-primary;
    @include custom-checkbox-position();
  }

  input[type="checkbox"]:focus + span {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

.checkbox-inline input[type="text"].form-control {
  margin: -6px 0 0 20px;
  width: 120%;
}