@import "../custom-font-faces";
@import "../custom-colors";
@import "../custom-typography";
@import "../custom-forms";


.form-control[disabled] {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  @extend .semi-bold;
}

.form-control[disabled] + .input-group-addon {
  background: transparent;
  border: none;
}

.form-horizontal {
  .control-label {
    font-weight: normal;
    text-align: left;
  }
}

.form-group-md, .form-group-sm {
  ::-webkit-input-placeholder {
    color: $semi-gray;
    @extend .semi-bold;
    text-transform: uppercase;
  }
  .form-control {
    font-size: $font-size-base;
  }

  .input-group-addon {
    color: $semi-gray;
    .required {
      color: $red;
      position: absolute;
      top: 10px;
      right: 50px;
      z-index: 5;
    }
  }
}

.form-group-sm {

  .input-group-addon {
    color: $semi-gray;
    .required {
      color: $red;
      position: absolute;
      top: 5px;
      right: 40px;
      z-index: 5;
    }
  }
}

.form-group-lg {
  position: relative;

  &.input-group.input-group-lg .form-control {
    border-radius: $input-border-radius 0 0 $input-border-radius;
  }

  .form-control {
    color: $gray;
    font-size: $font-size-base;
    padding-left: 10px;
    padding-top: 30px;
    border-radius: $input-border-radius;
  }

  ::-webkit-input-placeholder {
    color: $light-gray;
    font-style: italic;
    font-size: $font-size-base;
  }

  label {
    color: $semi-gray;
    text-transform: uppercase;
    @extend .semi-bold;
    z-index: 5;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .glyphicon {
    &.glyphicon-chevron-down, &.glyphicon-chevron-up {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }

  .input-group-addon {
    color: $semi-gray;
    .required {
      color: $red;
      position: absolute;
      top: 10px;
      right: 60px;
      z-index: 5;
    }
  }
}
