@import "../variables/colors";
@import "../variables/iconography";


.icon-xx-large {
  font-size: xx-large;
}

.icon-x-large {
  font-size: x-large;
}

.custom-icon {
  color: $light-gray;

  &:hover, &.hover {
    color: #e0eef4;
  }

  &.active, &:active {
    color: $brand-primary;
  }
}