@import "colors";

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $green !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $blue-heaven !default;
$state-info-bg:                  $light-blue !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $orange !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $red !default;
$state-danger-bg:                #fddddc !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;