<h1>Buttons</h1>
<p>
    <strong>Verschillende maten </strong>
</p>
<p>
    Er zijn een aantal formaten buttons. Large, Default, Small & Tiny. Default wordt het meest gebruikt. Bij uitzondering staat dit duidelijk vermeld in het ontwerp.
</p>
<p>
    <button class="btn btn-lg btn-primary">Large button</button>
</p>
<p>
    <button class="btn btn-primary">Default button</button>
</p>
<p>
    <button class="btn btn-sm btn-primary">Small button</button>
</p>

<p>
    <button class="btn btn-xs btn-primary">Tiny</button>
</p>

<p>
    <strong>Verschillende kleuren</strong>
</p>
<p>
    Er zijn een aantal kleuren, te weten: primair blauw, secundair wit en modal groen.
</p>
<p>
    <button class="btn btn-default">Default kleur</button>
</p>
<p>
    <button class="btn btn-primary">Primaire kleur</button>
</p>
<p>
    <button class="btn btn-secondary">Secundaire kleur</button>
</p>
<p>
    <button class="btn btn-modal">Modal kleur</button>
</p>
