<h1>&nbsp;</h1>
<p>
    <strong>Met animatie</strong>
</p>
<p>
    Een animatie wordt gebruikt al je uit wil leggen wat er gebeurd als je op een button klikt. De <span
        class="text-danger">btn-animated</span> direction <span class="text-danger">from-left</span>
</p>
<br>
<div class="row">
    <div class="col-md-6">
        <p>
            <button class="btn-animated btn btn-primary btn-lg bnt-block">
                <div class="btn-cover">
                    <i class="glyphicon glyphicon-check"></i>
                </div>
                <div class="btn-revealer">
                    Voltooien
                </div>
            </button>
        </p>
        <p>
            <button class="btn-animated btn btn-primary btn-lg bnt-block">
                <div class="btn-cover">
                    Download
                </div>
                <div class="btn-revealer">
                    <i class="glyphicon glyphicon-download"></i>
                </div>
            </button>
        </p>
    </div>
</div>
