<h1>&nbsp;</h1>
<p>
    <strong>Met animatie</strong>
</p>
<p>
    Een animatie wordt gebruikt al je uit wil leggen wat er gebeurd als je op een button klikt. De <span class="text-danger">btn-animated</span> direction <span class="text-danger">from-left</span>
</p>
<br>
<div class="row">
    <div class="col-md-6">
        <p>
            <button class="btn btn-primary btn-lg btn-block "> Voltooien </button>
        </p>
        <p>
            <button class="btn btn-primary btn-lg btn-block">
                <i class="glyphicon glyphicon-save icon-x-large"></i>
            </button>
        </p>
    </div>
</div>
