<p>
    <strong>Checkboxes</strong>
</p>
<form action="">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox"> &nbsp;
                <span></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox"> &nbsp; unchecked
            <span></span>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" checked> &nbsp; checked
            <span></span>
        </label>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox">
            <span></span>
            <input type="text" class="form-control">
        </label>
    </div>
</form>