<p>
    <strong>Checkboxes</strong>
</p>
<form action="">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox">
                <span class="before-after"></span>
                <span class="custom-label"></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox">
            <span class="before-after"></span>
            <span class="custom-label">unchecked</span>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" checked>
            <span class="before-after"></span>
            <span class="custom-label">checked</span>
        </label>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox">
            <span class="before-after"></span>
            <input type="text" class="form-control">
        </label>
    </div>
</form>