<p>
    <strong>Checkboxes</strong>
</p>
<form action="">
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox"> unchecked
            <span></span>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" checked> checked
            <span></span>
        </label>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox">
            <span></span>
            <input type="text" class="form-control">
        </label>
    </div>
</form>