<div class="row">
    <div class="col-md-12">
        <h1>Colors</h1>
        <p>You can replace * with <strong>text</strong> or <strong>bg</strong></p>
        <br>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile blue"></div>
            </div>
            <div class="media-body">
                <small><code> *-blue</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile blue-heaven"></div>
            </div>
            <div class="media-body">
                <small><code> *-blue-heaven</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile lighter-blue"></div>
            </div>
            <div class="media-body">
                <small><code> *-lighter-blue</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile blue-sea"></div>
            </div>
            <div class="media-body">
                <small><code> *-blue-sea</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile green"></div>
            </div>
            <div class="media-body">
                <small><code> *-green</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile orange"></div>
            </div>
            <div class="media-body">
                <small><code> *-orange</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile red"></div>
            </div>
            <div class="media-body">
                <small><code> *-red</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile gray"></div>
            </div>
            <div class="media-body">
                <small><code> *-gray</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile mid-gray"></div>
            </div>
            <div class="media-body">
                <small><code> *-mid-gray</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile semi-gray"></div>
            </div>
            <div class="media-body">
                <small><code> *-semi-gray</code></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <div class="palette-tile light-gray"></div>
            </div>
            <div class="media-body">
                <small><code> *-light-gray</code></small>
            </div>
        </div>
    </div>
</div>











