<div class="row">
    <div class="col-md-12">
        <div class="palette-tile blue"></div>
        <div class="palette-tile blue-heaven"></div>
        <div class="palette-tile light-blue"></div>
        <div class="palette-tile lighter-blue"></div>
        <div class="palette-tile blue-sea"></div>
        <div class="palette-tile green"></div>
        <div class="palette-tile orange"></div>
        <div class="palette-tile red"></div>
        <div class="palette-tile grey"></div>
        <div class="palette-tile mid-grey"></div>
        <div class="palette-tile semi-grey"></div>
        <div class="palette-tile light-grey"></div>
    </div>
</div>
