<h1>Icons</h1>
<div class="row">
    <div class="col-md-4">
        <p>
            <strong>Normal</strong>
        </p>
        <p>
            <i class="icon glyphicon glyphicon-cog"></i>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <strong>Hover</strong>
        </p>
        <p>
            <i class="icon glyphicon glyphicon-cog hover"></i>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <strong>Active</strong>
        </p>
        <p>
            <i class="icon glyphicon glyphicon-cog active"></i>
        </p>
    </div>
</div>