<h1>Icons</h1>
<div class="row">
    <div class="col-md-4">
        <p>
            <strong>Normal</strong>
        </p>
        <p>
            <i class="custom-icon glyphicon glyphicon-cog"></i>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <strong>Hover</strong>
        </p>
        <p>
            <i class="custom-icon glyphicon glyphicon-cog hover"></i>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <strong>Active</strong>
        </p>
        <p>
            <i class="custom-icon glyphicon glyphicon-cog active"></i>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Standaard Glyphicons</p>
        <div class="row">
            <div class="col-md-1">
                <i class="glyphicon glyphicon-ok-sign text-gray-light"></i>
            </div>
            <div class="col-md-1">
                <i class="glyphicon glyphicon-ok-sign text-success"></i>
            </div>
            <div class="col-md-1">
                <i class="glyphicon glyphicon-remove-sign text-warning"></i>
            </div>
            <div class="col-md-1">
                <i class="glyphicon glyphicon-minus-sign text-danger"></i>
            </div>
        </div>
    </div>
</div>