<h4><strong>Input fields large</strong></h4>
<p>
    Dit type veld helpt de gebruiker snel een eenvoudig formulier in te vullen. Goed bruikbaar voor Mobile devices. (alleen edit modus)
</p>

<form action="">
    <div class="form-group form-group-lg input-group input-group-lg" >
        <label>van tijd</label>
        <input type="text" class="form-control">
        <div class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
            <span class="required">*</span>
        </div>
    </div>

    <div class="form-group form-group-lg input-group input-group-lg" >
        <label>van tijd</label>
        <input type="text" class="form-control" value="12 feb 20:50">
        <div class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
            <span class="required">*</span>
        </div>
    </div>

    <div class="form-group form-group-lg" >
        <label>scheepsagent</label>
        <input type="text" class="form-control input-lg">
    </div>

    <div class="form-group form-group-lg" >
        <label>afmeerzijde</label>
        <i class="glyphicon glyphicon-chevron-down"></i>
        <input type="text" class="form-control input-lg">
    </div>

    <div class="form-group form-group-lg" >
        <label>ligplaats</label>
        <input type="text" class="form-control input-lg" placeholder="Kies een plaats">
    </div>

</form>