<h1>Notifications</h1>
<div class="row">
    <div class="col-md-2">
        <p>Icons</p>
    </div>

    <div class="col-md-10">
        <p>Notificatie iconen</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <i class="glyphicon glyphicon-info-sign text-success"></i>
    </div>

    <div class="col-md-10">
        <p>Notificatie iconen tonen de gebruiker feedback of informatie omtrent een proces of taak.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <i class="glyphicon glyphicon-info-sign text-warning"></i>
    </div>

    <div class="col-md-10">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <i class="glyphicon glyphicon-info-sign text-danger"></i>
    </div>

    <div class="col-md-10">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <i class="glyphicon glyphicon-info-sign text-info"></i>
    </div>

    <div class="col-md-10">
        <p>De iconen zijn zichtbaar in formulieren of overzichten. De kleur representeert de notificatiewaarde
            (belangrijkheid). Na een klik op het icoon verschijnt er additionele informatie in een pop up. De pop up
            klik je weg door het sluitkruisje of naast de pop up te klikken.</p>
    </div>
</div>