<div class="row">
    <div class="col-md-12">
        <h1>Callouts</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="javascript: void();" class="text-success" data-toggle="popover"
           title="Title alerticon"
           data-trigger="focus"
           data-content="Here is a simple text that gives infor-mation about this icon. Click some where and the pop up dissapears.">
            <i class="glyphicon glyphicon-info-sign "></i>
        </a>
    </div>
    <div class="col-md-4">
        <a href="javascript: void();" class="text-warning" data-toggle="popover"
           title="Title alerticon"
           data-trigger="focus"
           data-content="Here is a simple text that gives infor-mation about this icon. Click some where and the pop up dissapears.">
            <i class="glyphicon glyphicon-info-sign "></i>
        </a>
    </div>
    <div class="col-md-4">
        <a href="javascript: void();" class="text-danger" data-toggle="popover"
           title="Title alerticon"
           data-trigger="focus"
           data-content="Here is a simple text that gives infor-mation about this icon. Click some where and the pop up dissapears.">
            <i class="glyphicon glyphicon-info-sign "></i>
        </a>
    </div>
</div>