<p>
    <strong>Radio buttons</strong>
</p>
<form action="">
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio"> &nbsp;
                <span></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="radio-inline">
            <input type="radio"> &nbsp; unchecked
            <span></span>
        </label>
        <label class="radio-inline">
            <input type="radio" checked> &nbsp; checked
            <span></span>
        </label>
    </div>
    <div class="form-group">
        <label class="radio-inline">
            <input type="radio">
            <span></span>
            <input type="text" class="form-control">
        </label>
    </div>
</form>