<p>
    <strong>Radio buttons</strong>
</p>
<form action="">
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio">
                <span class="before-after"></span>
                <span class="custom-label"></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="radio-inline">
            <input type="radio">
            <span class="before-after"></span>
            <span class="custom-label">unchecked</span>
        </label>
        <label class="radio-inline">
            <input type="radio" checked>
            <span class="before-after"></span>
            <span class="custom-label">unchecked</span>
        </label>
    </div>
    <div class="form-group">
        <label class="radio-inline">
            <input type="radio">
            <span class="before-after"></span>
            <input type="text" class="form-control">
        </label>
    </div>
</form>