<h1>H1 Segoe UI Regular 30px</h1>
<h2>H2 Segoe UI Regular 24px</h2>
<h3>H3 Segoe UI Regular 18px</h3>
<h4>H4 Segoe UI Regular 14px</h4>
<h5>H5 Segoe UI Regular 12px</h5>
<p>
    Body copy:  Segou UI Regular font-size 14 px
    <br>
    line-height 18px
</p>

<p>
    Transformation class: Body copy
    rendered as bold text
    Transformation class: Segoe UI Regular 12 px
    text-uppercase rendered as bold text
    <br>
    Transformation class: Body copy
    text-uppercase rendered as bold text
</p>

<p>
    <a href="">Link: Body copy</a>  rendered as underlined text
</p>