<h1>Typography</h1>

<h1>H1 Segoe UI Regular 30px</h1>
<h2>H2 Segoe UI Regular 24px</h2>
<h3>H3 Segoe UI Regular 18px</h3>
<h4>H4 Segoe UI Regular 14px</h4>
<h5>H5 Segoe UI Regular 12px</h5>
<p>
    Body copy:  Segou UI Regular <span class="text-danger"> font-size</span> 14 px
    <br>
    <span class="text-danger">line-height </span>18px
</p>

<p>
    <strong>Transformation class: Body copy</strong>
    <br>
    <span class="text-danger">rendered as bold text</span>
</p>

<p>
    <span class="text-uppercase">
        <strong>Transformation class: Segoe UI Regular 12 px</strong>
    </span>
    <br>
</p>

<p>
    <span class="text-uppercase">
        <strong>Transformation class: body copy</strong>
    </span>
    <br>
</p>

<p>
    <a href="">Link: Body copy</a>  rendered as underlined text
</p>
