<div class="container">
   <div class="row">
       <div class="col-md-8">
           {{> colors }}
       </div>
       <div class="col-md-4">
           {{> typography }}
       </div>
   </div>
    <div class="row">
        <div class="col-md-4">
            <h1>Notifications</h1>
        </div>
        <div class="col-md-4">
            {{> icons}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Input fields</h1>
        </div>
        <div class="col-md-4">
            {{> input-fields-large }}
        </div>
        <div class="col-md-4">
            {{> input-fields-medium }}
        </div>
        <div class="col-md-4">
            {{> input-fields-small }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{> buttons}}
        </div>
        <div class="col-md-4">
            {{> buttons-icon}}
        </div>
        <div class="col-md-4">
            {{> buttons-animation}}
        </div>
    </div>
</div>
